@charset "utf-8";
@import url('index.css');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
/* main */
body {font: 12px 'Noto Sans KR', '나눔고딕', '돋움', Dotum, Helvetica, 'Apple SD Gothic Neo', 'sans-serif'; color: #222;}
.header{position: absolute; width: 100%; height: 100px; z-index: 1;}
.logo{position: absolute; left: 30px; top: 20px;}
.logo a img{width:25%;}
#menu{position: absolute; right: 80px; top: 45px; font-size: 16px; letter-spacing: .6px;}
#menu li{float: left; margin-right: 50px;}
#menu li:last-child{margin-right: 0;}
#menu li a:hover{color: #fff;}
#menu li a{display:block; position: relative; padding-bottom: 10px; color: #888; font-size:15px;}
#menu li.active a{color: #fff;}
.section{padding: 0 80px;}
#section0{position: relative; background: url(../img/bg1.jpg) no-repeat center; background-size: cover;}
#section1{position: relative; background: url(../img/bg2.jpg) no-repeat center; background-size: cover;}
#section2{position: relative; background: url(../img/bg3.jpg) no-repeat center; background-size: cover;}
#section3{position: relative; background: url(../img/bg5.jpg) no-repeat center; background-size: cover;}
/* Section 0*/
h2{font-weight: 500;font-size: 50px; line-height: 80px; color: #fff; text-align: right; padding-right:85px;}
#section0 .small_text{line-height: 30px; text-align: right;}

/* Section 1*/
h3{font-weight: 500; font-size: 40px; line-height: 60px; color: #fff; text-align:center;padding-bottom:50px;}
h3:after {content: ''; display: block; width: 30px; height: 2px; margin: 15px auto; background: #9a7349;}
.small_text{display: block; font-size: 14px; font-weight: 100; letter-spacing: 4px; color: #fff; margin-bottom: 20px; text-align:center;}
.page_title ul.icon {width: 100%; text-align: center; padding-top:100px;}
.page_title ul.icon li {display: inline-block;width: 20%;}
.page_title ul.icon li a {position: relative; display: block; padding-top: 83px; width: 100%; font-size: 18px; color: #fff;}
.page_title ul.icon li a:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 85px;}
.page_title ul.icon li:nth-child(1) a:before {background: url(../img/icon01.png) no-repeat center;}
.page_title ul.icon li:nth-child(2) a:before {background: url(../img/icon02.png) no-repeat center;}
.page_title ul.icon li:nth-child(3) a:before {background: url(../img/icon03.png) no-repeat center;}
.page_title ul.icon li a:hover:before{transform: rotateZ(180deg); transition: 0.4s ease-out;}

/* Section 2 - Coffee beans */
.beans_products .bx-wrapper{background: none; box-shadow: none; border: none; margin-bottom: 0;}
.beans_slider li{width:100%; height:483px;}
.beans_slider li.bean_01{background:url(../img/IMG_1511919316881.png) no-repeat center; background-size: cover;}
.beans_slider li.bean_02{background:url(../img/IMG_1511919335873.png) no-repeat center; background-size: cover;}
.beans_slider li.bean_03{background:url(../img/IMG_1511919351742.png) no-repeat center; background-size: cover;}
.beans_slider li.bean_04{background:url(../img/IMG_1511919436669.png) no-repeat center; background-size: cover;}
.beans_slider li.bean_05{background:url(../img/IMG_1511919284379.png) no-repeat center; background-size: cover;}
.beans_slider li a{display: block; height: 100%; padding-top: 150px; text-align: center;}
.beans_slider li a p{display: none; color: #fff; line-height:30px;}
.beans_slider li a:hover{background: rgba(40,36,37,0.7);}
.beans_slider li a:hover p{display: block;}
.beans_products .bx-wrapper .bx-controls-direction a{top: -40px;}
.beans_products .bx-wrapper .bx-controls-direction a.bx-prev{left: 0; background: url(../img/btn_prev.svg) no-repeat center;}
.beans_products .bx-wrapper .bx-controls-direction a.bx-next{left: 40px; background: url(../img/btn_next.svg) no-repeat center;}
.bean_01{text-align:center;}
.bean_name{font-size: 18px; font-weight: 400; color: #fff;}
.beans_slider li a p.btn_more{width: 100px; margin: 30px auto 0; font-size: 14px; font-weight: 300; line-height: 1; padding: 10px 0; border: 1px solid #fff; color: #fff; font-weight: 300; letter-spacing: 1px;}

/* Section 4 - Location */
#section3 .map{width: 1500px; margin:60px auto;}
.map{height:600px;width:100%;}
.canvas{overflow:hidden;height:100%;width:100%;}
